* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: start;
  align-items: center;
  border-color: palevioletred;
}
.product-card {
  display: grid;
  height: 60%;
  background-color: pink;
  border-radius: 1px;
  grid-template-rows: 50% 40%;
  width: fit-content;
}

img {
  height: 17rem;
  width: 28rem;
}

.product-description {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product-title {
  display: flex;
  flex-direction: column;
}

.product-details {
  flex-direction: column;
  display: flex;
}

.red {
  display: block;
  border-radius: 50%;

  height: 25px;
  width: 25px;
  background-color: red;
}

.gray {
  display: block;
  border-radius: 50%;

  height: 25px;
  width: 25px;
  background-color: grey;
}

.black {
  display: block;
  border-radius: 50%;

  height: 25px;
  width: 25px;
  background-color: black;
}

.colors-price {
  display: flex;
  align-items: center;
  gap: 20px;
}

.colors {
  display: flex;
  gap: 5px;
  align-items: center;
}

.pricing {
  display: flex;
  align-items: center;
  gap: 10px;
}

#button{
border-radius: 5px;
}